<script>
  (function () {
    const theme = localStorage.getItem("theme") || "light";
    document.documentElement.setAttribute("data-theme", theme);
  })();
</script>

<div id="app" data-page="student-new"></div>

<%= vite_client_tag %>
<%= vite_react_refresh_tag %>
<%= vite_javascript_tag "application.tsx" %>
